In [2]:
import kaggle
from pyspark.sql import SparkSession
import pyspark.sql.functions as fc

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/brayanjules/.kaggle/kaggle.json'

In [3]:
spark=SparkSession\
    .builder\
    .appName("kaggle_explore")\
    .getOrCreate()

In [9]:
files=kaggle.api.dataset_download_files(dataset="martj42/international-football-results-from-1872-to-2017",path="../resources/",unzip=True)

In [4]:
int_football_result=spark.read.csv("../resources/",inferSchema=True,header=True)

In [6]:
int_football_result.printSchema()

root
 |-- date: string (nullable = true)
 |-- home_team: string (nullable = true)
 |-- away_team: string (nullable = true)
 |-- home_score: string (nullable = true)
 |-- away_score: string (nullable = true)
 |-- tournament: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- neutral: string (nullable = true)

In [7]:
int_football_result.limit(5).toPandas()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,FALSE
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,FALSE
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,FALSE
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,FALSE
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,FALSE

In [8]:
int_football_result.describe().toPandas()

,summary,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,count,41911,41708,41634,41607,41595,41592,41591,41588,41587
1,mean,None,None,None,1.745755783196268,1.187587168758717,None,None,None,None
2,stddev,None,None,None,1.7537803404769956,1.4053234683358855,None,None,None,None
3,min,Χ۲��4��^8-AZ忺�im�\�Q�fj5<���DDY\t�  R1��$�� 1..., �X���aW~T�U�� ��w�N�᪀*�X���aW~T�,o/Hv,"���YȖ��I[��x�uYmQ�""3�Ȉ��D<H?�����!�0|'�#���o",0,@��ߊd�}�,"5)��a-��9����R�.W��2̳""�WY�w�a�",Afghanistan,FALSE
4,max,�������B5�6����iQ_L��%��I-\td�mJ3I�u]ړI�`�   ...,"����`��z�""䠹o����ee����U���%���b",�������~��QG�їD�;�4�%�kd�I���k�&�?�?��6s�2t�5�...,����`n,�������+�WU��e�Lj�Kj6�CC���M����庝е��F�LȐ�...,�v5F4*J�= � �GJ��!d�Q�HY��H�QY�$mk�Էf�T��,�9fFG�i�W*���迂U$�s�).�؏i߉�'R�dɯU��RʥJ��;3�...,�PM�wǃ�SڦL7xɩN2��ٙ ��m,ř��wc�#� �����

In [73]:
int_football_result=spark.read.csv("../resources/",inferSchema=True,header=True,mode="DROPMALFORMED")

In [74]:
int_football_result.describe().toPandas()

,summary,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,count,41586,41586,41586,41586,41586,41586,41586,41586,41586
1,mean,None,None,None,1.745755783196268,1.187587168758717,None,None,None,None
2,stddev,None,None,None,1.7537803404769956,1.4053234683358855,None,None,None,None
3,min,1872-11-30,Abkhazia,Abkhazia,0,0,ABCS Tournament,6th of October City,Afghanistan,FALSE
4,max,2020-02-01,Åland Islands,Åland Islands,9,9,World Unity Cup,‘Atele,Éire,TRUE

In [75]:
int_football_result.groupBy(['date','home_team','away_team','home_score','away_score']).count().orderBy(fc.desc('count')).toPandas()

,date,home_team,away_team,home_score,away_score,count
0,33���'�� ��;��ZD�SÞ�gz`h������=���ޘ,None,None,None,None,6
1,�,None,None,None,None,5
2,��'�� ��;�F �Ō�x��짇=����o�=���ޘ0f,"g;ŤOe<9�w�x��짇=����р31c9�-""{)��x3�0ŤOe<9�w...",None,None,None,5
3,(p4��1��L��Î7�� )�p,None,None,None,None,5
4,Cޣ�P,None,None,None,None,2
...,...,...,...,...,...,...
41889,2019-06-02,Western Armenia,South Ossetia,1,2,1
41890,2019-07-08,American Samoa,New Caledonia,0,5,1
41891,2019-09-06,San Marino,Belgium,0,4,1
41892,2019-10-10,Serbia,Paraguay,1,0,1
41893,�hT�T��\]���^��韉_W�J5�+��k���kn6�iu��hY���d...,늡��gn$+6��a-��D�&�� FF�� �)>x�������n�$�כ; ...,��Fd��s3�ȅ���d���rU!ĩ�C/�*���ce�\tu���ж�Z�y�p...,None,None,1

In [76]:
int_football_result=int_football_result.dropna('any',subset=['date','home_team','away_team','home_score','away_score'])

In [84]:
int_football_result.count()

41591

In [86]:
int_football_result = int_football_result.dropDuplicates().dropna('all',subset=['country','city'])

In [87]:
int_football_result.count()

41586

In [71]:
int_football_result.where((int_football_result.city).isNotNull()).orderBy(fc.asc('city')).limit(5).toPandas()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,2010-12-31,Kuwait,Zambia,4,0,Friendly,6th of October City,Egypt,TRUE
1,2010-12-24,Kuwait,North Korea,2,1,Friendly,6th of October City,Egypt,TRUE
2,2010-12-27,Kuwait,North Korea,2,2,Friendly,6th of October City,Egypt,TRUE
3,2012-06-08,Bahrain,Kuwait,1,1,Friendly,6th of October City,Egypt,TRUE
4,2012-06-12,Bahrain,Kuwait,0,1,Friendly,6th of October City,Egypt,TRUE

In [82]:
int_football_result.groupBy(['date','home_team','away_team','home_score','away_score']).count().orderBy(fc.desc('count')).toPandas()

,date,home_team,away_team,home_score,away_score,count
0,1891-03-28,Scotland,Northern Ireland,2,1,1
1,1919-10-12,Sweden,Denmark,3,0,1
2,1922-03-26,Germany,Switzerland,2,2,1
3,1923-07-24,Estonia,Latvia,1,1,1
4,1933-06-11,Austria,Belgium,4,1,1
...,...,...,...,...,...,...
41586,2019-05-25,Eswatini,Mauritius,2,2,1
41587,2019-06-02,Western Armenia,South Ossetia,1,2,1
41588,2019-07-08,American Samoa,New Caledonia,0,5,1
41589,2019-09-06,San Marino,Belgium,0,4,1
41590,2019-10-10,Serbia,Paraguay,1,0,1